*{margin: 0;padding: 0;}
ul,li{list-style: none;list-style-type: none;}


.top{width: 100%;height: 28px;background: #f2f2f2;border-bottom: 1px solid #dcdcdc;}
.topp{
	  width: 990px;
      margin: 0 auto;
      height: 29px;
     }
.menu{float: right;display: block;}
.menu li{display: block;float: left;margin-left: 10px;line-height: 28px;}
.menu li a{text-decoration: none;color: #666;font-size: 12px;}
.menu li span{color: #666;font-size: 12px;color: #dadada;}
.menu li a:hover{text-decoration:underline;  color: red;}
.header{width: 100%;height: 80px;}
.headerer{width: 990px;margin: 0 auto;height: 50px;padding: 15px 0;}
.logo{width: 174px;height: 49px;float: left;}
.logoa{width: 174px;height: 49px;display: block;}
.logoa img{width: 174px;height: 59px;display: block;}
.logo1{float: left;color: #999;margin: 10px 183px 0px 0px;vertical-align: middle;line-height: 32px;
       width: 245px;height: 32px;padding: 0px 10px;font-size: 12px;text-align: left;}
.search{width: 368px;height: 52px;float: right;font-size: 12px;}
.searchin{width: 272px;height: 33px;margin-top: 5px;float: left;background: url("images/searchbg.gif") no-repeat;border: none;}
.searchin1{float: left;display: inline;width: 90px;height: 33px;background: url("images/searchbtn.gif") no-repeat;border: none;margin-top: 5px;}
.search a{text-decoration: none;color: #666666;}
.search a:hover{color: red;text-decoration: underline;}
.nav{width: 100%;height: 43px;margin-bottom: 10px;background: url("images/navbg5.png") repeat-x;}
.navs{width: 990px;height: 43px;margin: 0 auto;}
.navsul{width: 595px;height: 40px;float: left;}
.navsul li{float: left;font-size: 14px;height: 40px;line-height: 40px;}
.navsul li a{text-decoration: none;color: #fff;padding: 0 20px;font-weight: bold;}
.navsul1{width: 200px;height: 40px;float: right;}
.navsul1 li{float: left;font-size: 12px;height: 40px;line-height: 40px;}
.navsul1 li a{text-decoration: none;color: #fff;padding: 0 8px;}
.navsul li:hover{background-color: #999999;}
.jcc{width: 984px;height: 74px;position: relative;top: 40px;}
.jcc li{ display: block;}
.jcc li a{text-decoration: none;}